body{
  background-color: #e4e0e4;;
}

img{
  object-fit: contain;
  height: 30vh;
}

.goback{
  cursor: pointer;
}
.modal-show{
  display: flex;
  align-items: center;
}
.modal-hide{
  display: none;
}
.cardItem:hover{
  transform: scale(1.1);
}
.container{
  background-color: white;
}
