*{
  margin: 0;
  box-sizing: border-box;
}
header{
  background-color: rgb(46,51,56);
  color: white;
  padding: 0.5rem;
}
header>p{
  margin:5px;
  padding-left:2rem;
}
i{
  margin:5px;
}
body{
  background-color: rgb(247,248,249);
}
.container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.card.col{
flex-basis: 30%;
margin: 1rem;
}
.imageContainer{
  height:60%;
}
img{
  object-fit: contain;
  height: 100%;
  width: 100%;

}
