body{
  background-color: rgb(247,248,249);
}

img{
  object-fit: contain;
  height: 30vh;
}
.container{
  background-color: white;
}
.goback{
  cursor: pointer;
}
.modal-show{
  display: flex;
  align-items: center;
}
.modal-hide{
  display: none;
}
